/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* barra de inicio */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  display: grid;
  width: auto;
  height: 150px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
header div nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  list-style: none;
}

.barra a:link {
  color: #60A8B1;
}

a:visited {
  color: #60A8B1;
}

/* estilo imagen */
.img2 {
  display: flex;
  width: 500px;
  height: 300px;
  align-items: center;
}

.imgqsomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.img3 {
  width: 500px;
  height: 200px;
}

main div img {
  width: 100%;
  height: 100%;
  object-fit: flex;
  padding: 1px;
  margin: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}

.contenedor {
  height: 50dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 30%);
  gap: 1rem;
  margin: 2px 1px 1px;
  justify-content: center;
}

.img-tres {
  display: none;
}

.img-cuatro {
  display: none;
}

/* cuerpo general */
/* cuerpo */
.padre {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
  align-items: center;
}

.img, .hijo {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
}

h1 {
  margin: auto;
  text-align: center;
}

h2, h3 {
  font-size: 30px;
  margin: 10px;
  text-decoration: underline;
}

.madre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin: auto;
}

.qsomos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */
/* footer */
footer {
  background-color: gray;
  width: auto;
  height: auto;
}
footer p {
  color: #60A8B1;
  text-transform: uppercase;
  height: auto;
  width: auto;
  background-size: cover;
}
footer div ul li a {
  height: 35px;
  width: max-content;
  display: flex;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

section div {
  display: flex;
  justify-content: left;
  width: 200px;
  height: 100px;
}

/* boton */
/* boton */
button {
  border: 0;
  background-image: linear-gradient(50deg, #60A9B1, #808080, #FFFFFF, #000000);
  border-radius: 6px;
  color: white;
  display: flex;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 3s;
  position: sticky;
  left: 40%;
  margin: 15px;
  animation: latido infinite 3s 10s;
}
button div div span {
  background-color: #768C8E;
  border-radius: 9px;
  color: white;
  padding: 10px 20px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

button:hover span {
  background: none;
  box-shadow: 10px 20px 30px black;
  box-sizing: border-box;
  transition: 3s;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* media quaris */
@media screen and (min-width: 600px) {
  .contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 31%);
  }
  .contenedor .img-cinco {
    grid-column: span 2;
  }
  .padre {
    height: 100%;
    width: 100%;
    margin: auto;
    flex-direction: column;
    display: flex;
  }
  footer {
    background-color: gray;
    width: auto;
    height: auto;
  }
}
.madre {
  display: flex;
  width: fit-content;
}

/* mq de desktop */
@media screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 45% 40% 40%;
  }
  .img-tres {
    display: grid;
  }
  .img-cuatro {
    display: flex;
  }
  .padre {
    text-align: left;
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    margin: 15px;
  }
  .contenedor .contenedor .img-cuatro {
    grid-row: span 2;
  }
  .contenedor .img-cinco {
    grid-column: span 1;
  }
  .contenedor .img-dos {
    grid-row: span 1;
  }
  .contenedor .img-tres {
    grid-row: span 2;
  }
}

/*# sourceMappingURL=style.css.map */
